/* css styles */
$pink: #FF1493;
$dodgerblue: #1E90FF;
$white: #F0F8FF;

/*-- scss:defaults --*/

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$black: #1A1A1A;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #333333;
$light-gray: #454545;
$purple: #AE8BD1;

// Base document colors
$navbar-bg: $pink; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $gray; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $gray; // code block background color
